<% include header %>
<!--
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title %></title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <link rel="stylesheet" href="css/estilos_personalizados.css" />
  </head>
  <body>
    <div class="row">
        <div class="small-12 large-centered colums">
            <h1 align="center"><%-title %></h1>
        </div>
      
    </div>-->
      <br />
      <br />
    <div class="row">
      <div class="medium-offset-2 small-8 colums">
        <p>Centros Médicos</p>
          
        
      </div>
      
          
              <form method="GET" action="centrosmedicos">
                  <div class="row collapse">
                    <div class="medium-offset-2 small-10 colums large-centered">
                  <div class="small-3 colums">
                <label class="inline">Seleccione:</label>
                  </div>
                  <div class="small-4 colums">
                      <input type="radio" name="centrosMedicos" value="Publicos" id="centMPub"><label for="centMPub">Públicos</label>
      <input type="radio" name="centrosMedicos" value="Privados" id="centMPriv"><label for="centMPriv">Privados</label>
                  </div>
                  <div class="small-2 colums">
                  <input class="button postfix inline" type=submit id="centrosMed-submit" value="Ir" /> 
                  </div>
                </div>
                </div>
              </form>
      
      <div class="row" id="ListaCentrosMedicos">
          <div class="medium-offset-2 small-10 colums">
                <ol>
                <dl>
                  <% for(var i in cmedicos) {%>
                  <li><dt><%-cmedicos[i][0] %></dt></li>
                  <dd>Direccion: <%-cmedicos[i][1] %></dd>
                  <% for(var tel in cmedicos[i][2]) {%>
                  <dd>Teléfono n° <%-tel %>: <%-cmedicos[i][2][tel] %></dd>
                  <% } %>
                  <% } %>
                </dl>
            </ol>
        </div>
        </div>
    </div>
    
    
      <br />
      <br />
    
    <div class="row">
      <div class="large-offset-8 large-4 medium-offset-6 medium-6 small-12 columns">
        <a href="PreguntasFrecuentes.html" class="button">Preguntas Frecuentes</a>
      </div>

    <script>
      $(document).foundation();
    </script>
      <script>
      /*
      function especialistasPorCiudad() {
        var cadenaPub = '<div class="medium-offset-2 small-10 colums">' +
                '<ol>' +
                '<dl>' +
                '<li><dt>Hospital San Borja</dt></li>' +
                '<dd>Dirección: Calle falsa 1234</dd>' +
                '<dd>Teléfono: 12345678</dd>' +
                '<li><dt>Consultorio Sálvese quien pueda</dt></li>' +
                '<dd>Dirección: La esquina del otro lado</dd>' +
                '<dd>Teléfono: 87654321</dd>' +
                '<li><dt>CESFAM N° 1 Valparaíso</dt></li>' +
                '<dd>Dirección: Rodelillo 4444</dd>' +
                '<dd>Teléfono: 1829394</dd>' +    
                '</dl>' + 
            '</ol>' +
        '</div>';
          var cadenaPriv = '<div class="medium-offset-2 small-10 colums">' +
                '<ol>' +
                '<dl>' +
                '<li><dt>Clínica Dávila</dt></li>' +
                '<dd>Dirección: Calle uno 1321</dd>' +
                '<dd>Teléfono: 12345678</dd>' +
                '<li><dt>Centro médico alameda</dt></li>' +
                '<dd>Dirección: Alameda 2234</dd>' +
                '<dd>Teléfono: 87654321</dd>' +
                '<li><dt>Clínica dental UV</dt></li>' +
                '<dd>Dirección: Playa ancha 1234</dd>' +
                '<dd>Teléfono: 1829394</dd>' +    
                '</dl>' + 
            '</ol>' +
        '</div>';

        if (document.getElementById('centMPub').checked) {
           
            document.getElementById("ListaCentrosMedicos").innerHTML = cadenaPub;
                
        }
        else if (document.getElementById('centMPriv').checked) {
              document.getElementById("ListaCentrosMedicos").innerHTML = cadenaPriv; 
              
        }
        return false;
          
      }*/
      
      </script>
  </body>
</html>
