<% include header %>
<!--
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title %></title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/typeahead.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
      <script src="/js/typeahead.bundle.js"></script>
      <link rel="stylesheet" href="css/estilos_personalizados.css" />
  </head>
  <body>
    <div class="row">
        <div class="small-12 large-centered colums">
            <h1 align="center"><%-title %></h1>
        </div>
      
    </div>-->
      <br />
      <br />
    <div class="row">
      <form method="POST" action="/">
      <div class="large-offset-2 large-8 medium-12 small-12 colums">
          <label>Seleccione su ciudad:</label>
        <select name = 'seleccionCiudad' id="seleccionar-ciudad">
          <option name= 'ciudad' value="Seleccione">Seleccione</option>
          <% for(var i=0; i<ciudades.length; i++) {%>
          <option name= 'ciudad' value=<%= indices[i] %>><%= ciudades[i] %></option>
          <% } %>
        </select>
        </div>
      
      </div>
    <div class="row">
      <div class="large-offset-2 large-8 medium-12 small-12 colums">
          <dl class="accordion" data-accordion>
              <dd class="accordion-navigation"> 
                  <a onClick="onPanel(this);" id="panelnum1">¿Desea saber el especialista según su enfermedad?</a> 
                  <div id="panel1" class="content">
               <!--    <form onsubmit="return onEspecialista();">-->
                     <div class="row">
                      <div class="small-3 columns">
            <label for="right-label" class="right">Enfermedad:</label>
                    </div>
                        <div class="small-4 columns">
                        <input type="text" id="enfermedad" placeholder="Ingrese la enfermedad a consultar">
                         </div>
                        <div class= "small-1 columns">
                        
                        <label  for="right-label" class="right">Edad:</label>
                        </div>
                         <div class= "small-2 columns">
                        <select id="seleccionar-edad">
                          
                        </select>
                        </div>

                        
                         <div class="small-2 columns">
                             <input class="button postfix" name="submit" type=submit id="especialista-submit" value="Al Especialista" />
                                                                                   <!-- onclick='return window.location.replace("especialista.html") -->
                            <!-- <a href="especialista.html" class="button postfix">Ir</a> -->
                        </div>
                         </div>
                 <!-- </form> -->
                  </div>
              </dd> 
              <dd class="accordion-navigation">
                  <a onClick="onPanel(this);" id="panelnum2">¿Desea saber información sobre centro médico o farmacia?</a> 
                  <div id="panel2" class="content">
             <!--     <form method="POST" action="centromedicoofarm">-->
                    <!--onSubmit="return checkCentroOFarm();"-->
                      <div class="row">
                                <div class="large-9 columns">
                                  <label>Escoga qué desea buscar</label>
                                  <input type="radio" name="centroofarm" value="centromedico" id="centromedico"><label for="centromedico">Centros Médicos</label>
                                  <input type="radio" name="centroofarm" value="farmacia" id="farmacia"><label for="farmacia">Farmacias</label>
    </div>
                          <div class="small-2 columns">
                              <input class="button postfix" name="submit" type=submit id="centromofarm-submit" value="A mi Medico o Farmacia" />
                                               <!--  <a onClick="checkCentroOFarm(this);" href="" class="button postfix">Ir</a> -->
                        </div>
                    </div>
                      
              <!--  </form>-->
                  </div> 
              </dd> 
              <dd class="accordion-navigation"> <a href="#panel3">¿Desea saber información sobre algún remedio?</a> 
                  <div id="panel3" class="content">
                      <!-- <form onSubmit="return onRemedio();">-->
                     <div class="row">
                      <div class="small-2 columns">
            <label for="right-label" class="right">Remedio:</label>
                    </div>
                        <div class="small-6 columns">
                        <input class="typeahead tt-dropdown-menu" type="text" id="remediostxtinput" name="remedios" placeholder="Ingrese el remedio a consultar">
                        </div>
                         <div class="small-4 columns">
                             <input class="button postfix" name="submit" type=submit id="remedio-submit" value="A los remedios" />
                          <!--  <a href="remedio.html" class="button postfix">Ir</a> -->
                        </div>
                    </div>
                  <!--</form>-->
                  </div> 
              </dd> 
          </dl>
      </div>
    </form>
    </div>
      <br />
      <br />
    
    <div class="row">
      <div class="large-offset-8 large-4 medium-offset-6 medium-6 small-12 columns">
        <a href="PreguntasFrecuentes.html" class="button">Preguntas Frecuentes</a>
      </div>
      
    </div>

    <script>
      $(document).foundation();
    </script>
      <script>
          var edad = document.getElementById("seleccionar-edad");
          var i = 0
          for(i = 0; i<=100; i++) {
              edad.innerHTML = edad.innerHTML + '<option value="edad' + i + '">'+ i + '</option> ';
              
          }
          edad.innerHTML = edad.innerHTML + '<option value="edadmas100">101+</option> ';
          
          function onPanel(yo) {
              //alert(yo.id)
              var yourSelect = document.getElementById( "seleccionar-ciudad" );
              if (yourSelect.options[ yourSelect.selectedIndex ].value == "Seleccione") {
                  alert("No ha seleccionado la ciudad");
                  
              }
              else {
                  if (yo.id == "panelnum1") {
                   //jQuery("#panel1").addClass('active');
                      $('.active').removeClass('active');
                                document.getElementById("panel1").setAttribute("class", "active");
                      /*var id='myElementId';
                      var myClassName=" className";
                      var d=document.getElementById('panel2');
                      d.className=d.className.replace(' className',"");*/
                    //window.location.href = "#panel1";
                  }
                  else if (yo.id == "panelnum2"){
                      $('.active').removeClass('active');
                    document.getElementById("panel2").setAttribute("class", "active");
                      //window.location.href = "#panel2";
                  }
              }
              return false;
          }
          function checkCentroOFarm() {
              if (document.getElementById('centromedico').checked) {
                  window.location.href = "centrosmedicos";
              }
              else if (document.getElementById('farmacia').checked) {
                  window.location.href = "farmacia";
              }
              else {
                  alert("Error, seleccione una opción");
                  //window.location.replace("error.html");
              }
              return false;
          }
          
          function onEspecialista() {
              window.location.href = "especialista";
              return false;
          }
          function onRemedio() {
              window.location.href = "remedio";
              return false;
          }
          
          /*$('#enfermedad').typeahead({
            name: 'name',
            //prefetch: 'data.json',
            local: [{name: 'alambama'}, {name: 'alaska'}, {name: 'washington'}],
            //limit: 10
            });*/
          



          /*$('.autocomplete-es .typeahead').typeahead({
            name: 'es-tags',
            remote: {
                url: 'http://httpbin.org/post',
                beforeSend: function (jqXhr, settings) {
                    
                    console.log('type is initially : ' + settings.type);
                    console.log('data is initially : ' + settings.data);
                    
                    settings.type = 'POST';
                    settings.data = { fields: ['tags.tag'], query: { prefix: {  tag: 'emp' } } }
                    //settings.contentType = 'application/json; charset=utf-8';
                    
                    console.log('type is now : ' + settings.type);
                    console.log('data is now : ' + settings.data);

                    //settings.processData = false;
                    //settings.traditional = true;

                    return true;
                },
                filter: function (data) {
                    console.log(data.data);
                    console.log(data.data.fields[0]);
                    //do actual processing...for now just looking for this not to throw an error
                //    return data.hits.hits[0].fields.tags.tag;
                }
            }
        });*/
        var substringMatcher = function(strs) {
          return function findMatches(q, cb) {
            var matches, substrRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push({value: str});
              }
            });

            cb(matches);
          };
        };

        /*var remedios = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          // url points to a json file that contains an array of country names, see
          // https://github.com/twitter/typeahead.js/blob/gh-pages/data/remedios.json
          prefetch: 'json/remedios.json'
        });*/

        var enfermedades = ['Resfriado común', 'Cáncer', 'Sida', 'Depresión', 'Úlcera', 'Gastritis', 'Gastroenteritis', 'Cólon irritable', 'Hepatitis'
        ];
          
        var remedios = ['Aspirina', 'Omeprazol', 'Atorvastatina', 'La pastilla del día después', 'Loratadina', 'Clorfenamina'];


        $('#enfermedad').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
        },
        {
        name: 'enfermedades',
        displayKey: 'value',
        source: substringMatcher(enfermedades),
        limit: 10
        });

        /*$('#remediostxtinput').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
        }, {
          name: 'remediostxtinput',
          displayKey: 'value',
          source: substringMatcher(remedios),
          limit: 10
        });*/
        
        //console.log(remedios);
        /*
         $('#remedio').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
        },
        {
        name: 'remedios',
        displayKey: 'value',
        source: substringMatcher(remedios),
        limit: 10
        });*/
          
      </script>
     <!-- <style type="text/css">
      #remediostxtinput .tt-dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
      }
      </style>-->
  </body>
</html>
  