<% include header %>
<!--
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmautomático</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <link rel="stylesheet" href="css/estilos_personalizados.css" />
  </head>
  <body>
    <div class="row">
        <div class="small-12 large-centered colums">
            <h1 align="center">Farmautomático</h1>
        </div>
      
    </div>-->
      <br />
      <br />
    <div class="row">
      <div class="medium-offset-2 small-8 colums">
        <p id="remedio"><%- nombre %>:</p>
          
        
      </div>
        <div class="row">
        <div class="medium-offset-3 small-9 colums">
        <dl>
           <dt>Indicaciones:</dt>
           <dd><%- indicaciones %></dd>
            <dt>Contraindicaciones:</dt>
           <dd><%- contraindicaciones %></dd>
            <dt>Conservación:</dt>
           <dd><%- conservacion %></dd>
            <dt>Interacciones:</dt>
           <dd><%- interacciones %></dd>
           <dt>Otros:</dt>
           <dd><%- otros %></dd>
            </dl>
        </div>
        </div>

        <br />
        <br />
        <br />
        <br />


         <p>Comentarios: <span data-tooltip aria-haspopup="true" class="has-tip" title="Por favor sea respetuoso">?</span></p>
         <form method="POST" action="/remedio?rem=">
            <div class="small-6 small-centered columns">
            <select name = 'seleccionUsuarioComentario' id="seleccionar-usuario">
              <% for(i in usuarios_nombre) {%>
              <!--<img src=<%=usuarios_foto[i]%> class="right inline"> -->
              <option name= 'usuario' value=<%= usuarios_idusuario[i] %>> <%=usuarios_nombre[i]%></option>
              <% } %>
            </select>
          </div>
          <div class"small-6 small-centered columns">
            <TEXTAREA rows="3" cols="100" NAME="comentario" class="postfix inline">Ingrese su comentario</TEXTAREA>
            </div>
            <div class="small-2 colums">
            <input class="button postfix" name="submit" type=submit id="IngresarComentario" value="Comentar" />
          </div>
          </form>


        <br />
        <br />
        <br />

        <div class="row">
        <div class="medium-offset-2 small-10 columns">
           
          <% for(var i=0; i<comentarios.length; i++) {%>
          <div class="row">
          <div class="medium-2 columns">
            <a href=<%= idcomentarios[i] %> >Ir al comentario</a>
            <%=nombres_usuariosenc[i]%>
          <img src=<%=fotos[i]%> class="right inline">
        </div>
        <div class="medium-10 columns">
          <%=comentarios[i] %>
        </div>
      </div>
      <hr>
        <% } %>
          <hr>
            
            
          </div>
        </div>


         
        
        
        <br />
      <br />
    
    <div class="row">
      <div class="large-offset-8 large-4 medium-offset-6 medium-6 small-12 columns">
        <a href="PreguntasFrecuentes.html" class="button">Preguntas Frecuentes</a>
      </div>
        
 </body>
</html>